<header class="catalog-header">
  <div class="catalog-header-row">
    <!-- Контакт -->
    <a href="tel:+380970408988" class="contact-link">+380 97 040 89 88</a>
    <!-- Логотип -->
    <a href="/index.html" class="logo">
      <i class="fa-solid fa-seedling logo-icon"></i>
      <span class="logo-title">Plantify</span>
    </a>
    <!-- Кошик -->
    <a href="./src/components/basket.html" class="basket-button"
      ><i class="fa-solid fa-shopping-basket"></i> <span>Кошик</span><span id="basket-count">0</span></a
    >
  </div>
</header>
