<header class="site-header">
  <div class="header-container">
    <div class="top-header">
      <div class="contact">
        <span> <a href="tel:+380970408988">+380 97 040 89 88</a></span>
      </div>
      <div class="socials">
        <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://t.me/" target="_blank" aria-label="Telegram">
          <i class="fab fa-telegram"></i>
        </a>
        <a
          href="viber://chat?number=%2B380671234567"
          target="_blank"
          aria-label="Viber"
        >
          <i class="fab fa-viber"></i>
        </a>
      </div>
    </div>
    <div class="bottom-header">
      <div class="logo-container">
        <a href="/index.html">
          <i class="fa-solid fa-seedling logo-icon"></i>
          <span class="logo-title">Plantify</span>
        </a>
      </div>
      <!-- БУРГЕР КНопка -->
      <button class="burger" aria-label="Відкрити меню">
        <span></span><span></span><span></span>
      </button>
      <nav class="header-nav">
        <ul>
          <li>
            <a href="/index.html">Головна</a>
          </li>
          <li>
            <a href="./catalog.html">Каталог</a>
          </li>
          <li>
            <a href="#about">Про нас</a>
          </li>
          <li>
            <a href="#contact">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="header-info">
        <a href="#" class="basket-button">Кошик</a>
      </div>
    </div>
  </div>
</header>
<div class="overlay"></div>
<div class="cart-modal">
  <div class="cart-content">
    <button class="cart-close">&times;</button>
    <h2>Ваш кошик</h2>
    <div class="cart-items"></div>
    <div class="cart-footer">
      <span class="cart-total">Разом: 0₴</span>
      <button class="checkout-btn">Оформити замовлення</button>
    </div>
  </div>
</div>
